@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
}

.truncate-text {
  display: -webkit-box; /* Required for -webkit-line-clamp to work */
  -webkit-box-orient: vertical; /* Specifies a vertical layout for the box */
  -webkit-line-clamp: 3; /* Clips text after 3 lines */
  line-clamp: 3;
  overflow: hidden; /* Hides overflowing content */
  text-overflow: ellipsis; /* Adds an ellipsis (...) at the end of the truncated text */
}
